@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --subTitle-color: #035755;
    --selection-color: #FB4C47;
    --paragraph-color: #4B4F51;
    --font-family: 'Roboto', sans-serif;
}

body {
    /* background: linear-gradient(0deg, #FFF8F8, #B57474); */
}

.wrapper {
    min-height: calc(100vh - 250px);
}

.common-button {
    background: var(--selection-color);
    box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
    border-radius: 65px;
    padding: 24px 57px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #FFFFFF;
    &:hover {
        color: white;
    }
}

@media screen and (max-width: 1000px) {
    .common-button {
        padding: 15px 40px;
        font-size: 20px;
    }
}