@use 'App.scss';
:root {
    --margin-bottom: 14px;
}

.reverse-info {
    .content {
        .info {
            &__title {
                color: var(--selection-color);
                font-family: var(--font-family);
                font-style: var(--font-style);
                font-weight: var(--font-weight-header);
                font-size: 25px;
                line-height: 105%;
                margin-bottom: var(--margin-bottom);
            }
            &__subtitle {
                color: var(--subTitle-color);
                font-family: var(--font-family);
                font-style: var(--font-style);
                font-weight: var(--font-weight-header);
                font-size: 44px;
                line-height: 110%;
                text-transform: capitalize;
            }
            &__desc {
                color: var(--paragraph-color);
                font-family: var(--font-family);
                font-style: var(--font-style);
                font-weight: normal;
                font-size: 18px;
                line-height: 150%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                margin-bottom: 54px;
                margin-top: var(--margin-bottom);
            }
        }
        /* &__img {} */
    }
    section:nth-of-type(even) {
        div:nth-child(1) {
            flex-direction: row-reverse;
        }
    }
}

@media screen and (max-width: 991px) {
    .reverse-info {
        .content {
            margin-bottom: 30px;
            .info {
                &__title {
                    font-size: 20px;
                }
                &__subtitle {
                    font-size: 30px;
                }
                &__desc {
                    font-size: 15px;
                    margin-bottom: 35px;
                }
            }
            /* &__img {} */
        }
    }
}

@media screen and (max-width: 767px) {
    .reverse-info {
        .content {
            margin-bottom: 30px;
            .info {
                margin-bottom: 30px;
                &__title {
                    font-size: 20px;
                }
                &__subtitle {
                    font-size: 30px;
                }
                &__desc {
                    font-size: 15px;
                    margin-bottom: 35px;
                }
            }
            /* &__img {} */
        }
    }
}

@media screen and (max-width: 578px) {
    .reverse-info {
        .content {
            .info {
                margin-bottom: 50px;
                &__title {
                    font-size: 20px;
                }
                &__subtitle {
                    font-size: 30px;
                }
                &__desc {
                    font-size: 15px;
                    margin-bottom: 35px;
                }
            }
            /* &__img {} */
        }
    }
}