@use 'App.scss';

/* :root {
    --subTitle-color: #035755;
    --selection-color: #FB4C47;
    --paragraph-color: #4B4F51;
    --font-family: 'Roboto', sans-serif;
    --font-style: normal;
    --font-weight-header: bold;
    --margin-bottom: 14px;
} */