@use 'App.scss';
:root {
    --font-style: normal;
    --font-weight: 500;
}

.statistics {
    .stats-table {
        &--background {
            background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
        }
        box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
        border-radius: 0px;
        .information {
            &__title {
                color: var(--subTitle-color);
                font-family: var(--font-family);
                font-style: var(--font-style);
                font-weight: var(--font-weight);
                font-size: 34px;
                line-height: 58px;
                margin-left: 9px;
            }
            &__img {
                height: 25;
            }
            figure {
                margin: 0;
            }
        }
        .stats {
            /*  &__flag {} */
            figure {
                margin: 0;
            }
            &__country {
                color: var(--subTitle-color);
                font-family: var(--font-family);
                font-style: var(--font-style);
                font-weight: var(--font-weight);
                font-size: 16px;
                line-height: 37px;
                margin: 0;
            }
            &__rate {
                color: var(--subTitle-color);
                font-family: var(--font-family);
                font-style: var(--font-style);
                font-weight: var(--font-weight);
                font-size: 18px;
                line-height: 29px;
                text-align: right;
                margin: 0;
            }
            /*   &__arrow {} */
        }
    }
}